{#
   Copyright © 2015 VMware, Inc. All Rights Reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only

   This code is Dual Licensed Apache License 2.0 or GPLv3

   You may obtain a copy of the License(s) at

       http://www.apache.org/licenses/LICENSE-2.0

       or

       https://www.gnu.org/licenses/gpl-3.0.en.html
#} 
###
# The following values are used to configure various aspects of all
# kubernetes services, including
#
#   kube-apiserver.service
#   kube-controller-manager.service
#   kube-scheduler.service
#   kubelet.service
#   kube-proxy.service

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd_servers=http://{{ master_address }}:2379"
KUBE_MASTER="--master=http://{{ master_address }}:8080"

# logging to stderr means we get it in the systemd journal
KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v=0"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow_privileged=true"
